form.form label{padding-bottom: 10px;display: block; color:var(--white);}
form.form input{width: 100%; padding: 10px; color:var(--blue);}
form.form input:focus{outline: none; border:solid 2px var(--blue); color:var(--black);}
form.form input.submit{background-color:var(--blue); border:none; color:var(--white); text-transform: uppercase; margin-top: 10px; padding: 10px; display: block; border:solid 2px var(--blue); transition: all .25s ease-in;} 
    form.form input.submit:hover{cursor: pointer; background-color: transparent; transition: all .25s ease-in;}
form.form input.disabled{ margin-top: 10px; opacity: 0.5; cursor: pointer; color:var(--black);}